<% layout('layouts/boilerplate.ejs') -%>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1><%= city.name %></h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">State: <%= city.state %></h5>
                <p class="card-text"><%= city.phrase %></p>
                <p class="card-text"><strong>Geocoordinates:</strong> <%= city.geocoordinates %></p>
                <div class="row">
                    <% city.images.forEach((img, index) => { %>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="<%= img.imgUrl %>" class="card-img-top" alt="Image <%= index + 1 %>" style="width: 200px; height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <p class="card-text">Image <%= index + 1 %></p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>