<% layout('layouts/boilerplate.ejs') -%>
<body>
  <h1>HOME</h1>

  <% for (state of stateList) { %>
  <div class="card mb-3">
    <div class="card-header">
      <h2><%= state.name %></h2>
      <p><%= state.phrase %></p>
    </div>
    <div class="card-body ">
      <h5 class="card-title">Specialities</h5>
      <ul>
        <% state.speciality.forEach(function(item) { %>
        <li><%= item %></li>
        <% }); %>
      </ul>
      <h5 class="card-title">History</h5>
      <ul>
        <% state.history.war.forEach(function(war) { %>
        <li><%= war %></li>
        <% }); %>
      </ul>
      <p>Empire: <%= state.history.ecto %></p>
      <p>Art & Heritage: <%= state.history.artH %></p>
      <h5 class="card-title">Culture</h5>
      <p>Music and Dance: <%= state.HnC.MnD.join(', ') %></p>
      <p>Attire: <%= state.HnC.attire %></p>
      <p>Festivals: <%= state.HnC.festivals.join(', ') %></p>
      <p>Folk Tales: <%= state.HnC.folkTales.join(', ') %></p>
      <p>Flora & Fauna: <%= state.HnC.FnF.join(', ') %></p>
      <p>Lifestyle: <%= state.HnC.lifeStyle.join(', ') %></p>
      <h5 class="card-title">Images</h5>
      <% state.image.forEach(function(image) { %>
      <img
        src="<%= image.imgUrl %>"
        class="img-fluid img-thumbnail w-25 h-50"
        alt="<%= image.filename %>"
      />
      <% }); %>
    </div>
    <div class="card-footer">
      <a href="<%= state.route %>" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <% } %>

  <br /><br /><br />
  <a href="/new"> <button class="btn btn-success">NEW</button> </a>
</body>
